html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
}

.cute-glyph {
  display: inline-block;
  width: 28px;
  height: 5px;

  background: #FFFFFF;
  border: 1px solid #C90708;
  box-sizing: border-box;


  box-shadow: 2px 2px 0px #C90708;

  transform: translateY(-5px);

}

h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6em;
  letter-spacing: 0.1em;

  display: inline;

  color: #808080;
}

.section-title {
  margin-left: 12px;
}

p {

  font-family: Fira Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.75em;

  color: #454545;

  margin-bottom: 0.75em;
}

p b {
  font-weight: normal;
  color: #C90708;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }

  p {
    line-height: 2em;
  }

  .cute-glyph {
    margin-left: 12px;

    width: 18px;
    height: 6px;
  }
}