#play {
  padding-top: 100px;
}

#play .play-projects {
  margin-top: 30px;
}

#play .play-projects img {
  width: 100%;
}

#play h2 {

  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: 0.05em;

  color: #454545;

  opacity: 0.85;

}